.footer_full{
    width: 100%;
    background: #407BFF;
    height: 126px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_img img{
    width: 154px;
}
.footer_text{
    color: white;
}
.footer_Mobile{
    height: 45px;
    display: none;
    width: 100%;
    align-items: center;
}
.footer_Mobile ul{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    list-style: none;
}
.footer_Mobile ul li{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.footer_Mobile ul li img{
    width: 15px;
    height: 15px;
}
.navLink {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    color: #8B9BAB;
    text-decoration: none;
    transition-duration: 0.5s;
}
@media (max-width:768px) {
    .footer_Mobile{
        display: flex;
        position: fixed;
        bottom: 0px;
        z-index: 20;
        background: #fff;
        margin-top: 30px;
    }
    .headerActiveLink {
        color: #407BFF;
    }
    .footer_full{
        display: none;
    }
}
@media (max-width:480px) {
    .footer_Mobile ul li p{
        font-size: 10px;
    }
}