.SliderText{
    margin-top: 40px;
    color: #fff;
}
.SliderText h1{
    font-size: 16px;
    margin-bottom: 8px;
}
.SliderText p{
    font-size: 10px;
    margin-bottom: 20px;
}
.Button_Reviws{
    margin-bottom: 30px;
}