label{
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8B9BAB;
    width: 100%;
    user-select: none;
}

input[type=text],
input[type=tel],
input[type=date],
input[type=number],
input[type=email]{
    background: #FFFFFF;
    border: 2px solid #EAF2FF;
    border-radius: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8B9BAB;
    padding: 20px 28px;
    max-width: 400px;
    width: 100%;
}
input[type=text]:invalid,
input[type=date]:invalid,
input[type=tel]:invalid,
input[type=number]:invalid,
input[type=email]:invalid{
    border: 2px solid red;
}
input[type=text]:focus:invalid,
input[type=date]:focus:invalid,
input[type=tel]:focus:invalid,
input[type=number]:focus:invalid,
input[type=email]:focus:invalid{
    border: 2px solid red;
}
input[type=text]:valid,
input[type=date]:valid,
input[type=tel]:valid,
input[type=number]:valid,
input[type=email]:valid{
    border: 2px solid green;
}
input[type=text]:not(:focus):invalid,
input[type=date]:not(:focus):invalid,
input[type=tel]:not(:focus):invalid,
input[type=number]:not(:focus):invalid,
input[type=email]:not(:focus):invalid{
    border: 2px solid #EAF2FF;
}
input[type=radio]{
    position: absolute;
    width: 0;
    height: 0;
    appearance: none;
}
input[type=radio]:before{
    position: absolute;
    background: #F3F3F5;
    border: 1px solid #ECECEE;
    border-radius: 26px;
    content: '';
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    left: -30px;
    top: -3px;
}
input[type=radio]:invalid:before{
    border: 1px solid red;
}
input[type=radio]:not(:focus):invalid:before{
    border: 1px solid #ECECEE;
}
input[type=checkbox]:invalid:before{
    border: 3px solid red;
}
input[type=checkbox]:not(:focus):invalid:before{
    border: 3px solid #407BFF;
}
input[type=radio]:checked:after{
    position: absolute;
    content: url("../../img/Radio Button.png");
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    left: -30px;
    top: -3px;
}
input[type=checkbox]{
    position: absolute;
    width: 0;
    height: 0;
    appearance: none;
    cursor: pointer;
}
input[type=checkbox]:before{
    position: absolute;
    border: 3px solid #407BFF;
    border-radius: 7px;
    content: '';
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    left: -30px;
    top: -3px;
}
input[type=checkbox]:checked:after{
    position: absolute;
    content: url("../../img/Checkbox.png");
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    left: -30px;
    top: -3px;
}


