.btn {
    border-radius: 16px;
    width: fit-content;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 22px 41px;
}
.blue{
    background-color: #407BFF;
}