.VideoFull {
    margin-top: 70px;
    padding: 0px 25px;
}

.VideoTitle {
    margin-bottom: 30px;
}

.VideoBlock {
    display: flex;
}

.VideoBlockImage {
    width: 750px;
    position: relative;
}
.VideoBlockImage ul{
    bottom: 30px;
    left: 50%;
    transform: translate(-50%,0%);
    display: none;
    width: 500px;
    justify-content: space-between;
    list-style: none;
    position: absolute;
}
.icon_close{
    background: #F14646!important;
}
.VideoBlockImage ul li{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    max-width: 85px;
    text-align: center;
    align-items: center;
}
.VideoBlockImage ul li .icon_back{
    padding: 11px;
    box-sizing: border-box;
    height: 42px;
    margin-bottom: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
}
.videoMobile{
    display: none;
}
.videoDesctop{
    display: flex!important;
}
.VideoBlockImage ul li img{
    width: 20px;
}
.VideoChat {
    margin-left: 20px;
    min-height: 500px;
    position: relative;
}

.VideoBlockImage img {
    width: 100%;
    border-radius: 30px;
}

.VideoChatDoctor {
    max-width: 293px;
    border-radius: 7px;
    margin-right: 12px;
    padding: 10px;
    background: #E6E6E6;
}
.VideoBlockImage ul li p{
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
.VideoChatMy {
    border-radius: 7px;
    padding: 10px;
    margin-left: 10px;
    background: #EAF2FF;
}
.MessageText img{
    margin-right: 10px;
}
.MessageText {
    position: absolute;
    width: 300px;
    display: flex;
    align-items: center;
    bottom: 0px;
}
.MessageImg{
    position: relative;
    width: 100%;
}
.MessageImg img{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-0%,-50%);
}
.MessageDoctor{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.MessageDoctorMy{
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
    align-items: center;
}
.videoMobile li p{
    font-size: 8px;
}
@media(max-width:980px) {
    .VideoBlock {
        flex-direction: column;
    }
    .VideoTitle {
        text-align: center;
    }
    .VideoChat{
        margin-left: 0px;
    }
    .VideoBlockImage {
        width: 100%;
    }
    .MessageText{
        width: 100%;
        padding-bottom: 40px;
    }
    .MessageText input{
        width: 100%;
        max-width: 980px;
        border: 1px solid #EAF2FF!important;
        background: #fff!important;
    }
}
@media(max-width:480px){
    .VideoFull {
        padding: 0px 0px;
        margin-top: 0px;
    }
    .VideoTitle {
        display: none;
    }
    .VideoBlockImage{
        height: 100%;
    }
    .VideoFull{
        height: 100%;
    }
    .VideoBlockImage img {
        width: 100%;
        
        border-radius: 0px;
    }
    .VideoBlockImage ul {
        width: 300px!important;
    }
}
@media(max-width:600px){
    .videoMobile{
        display: flex!important;
    }
    .VideoChat{
        display: none;
    }
    .VideoFull{
        margin-top: 0px;
    }
    .videoDesctop{
        display: none!important;
    }
    .VideoBlockImage ul{
    width: 400px;
}
.videoMobile li{
    max-width: 40px!important;
}
}