.jare{
    margin-left: auto;
    position: relative;
}
.Header_profile{
    display: flex;

    align-items: center;
    align-self: flex-end;
}
.Profile_text{
    margin-left: 20px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.Profile_menu{
    align-items: center;
    display: flex;
    gap: 7px;
    user-select: none;
}
.Profile_menu img{
    width: 16px;
    height: 9px;
}
.MenuWrap{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 21px 16px;
    width: 250px;
    right: 90px;
    top: 90px;
}
.MenuList {
    list-style: none;
}
.MenuLink{
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #2E373D;
    text-decoration: none;
    border-bottom: solid 2px transparent;
    transition-duration: 0.5s;
}
.MenuLink:hover{
    border-bottom: solid 2px #333;
}
.MenuBack{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}