.Header_full{
    display: flex;
    width: 100%;
    height: 56px;
    margin-top: 41px;
}
.Header_container{
    margin-left: auto;
    margin-right: auto;
    width: 90.89%;
}
.Header_logo{
    margin-right: 10%;
}
.Header_logo img{
   width: 154px;
}
.Header_nav{
    width: 30.09%;
}
.Header_nav nav{
    display: flex;
    width: 100%;
}
.navLi:hover{
    border-color: #407BFF;
}
.Menu_mobile{
    display: none;
}
.navLink{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #8B9BAB;
    text-decoration: none;
    width: 33%;
    display: flex;
    border-bottom: 4px solid #EAF2FF;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 14px;
    transition-duration: 0.5s;
}
.navLink:hover{
    color: #2E373D;
    border-color: #407BFF;
}
.headerActiveLink{
    color: #2E373D;
    border-color: #407BFF;
}
@media(max-width:980px){
    .Header_logo{
        margin-right: 5%;
    }
    .Header_nav{
        width: 40.09%;
    }
}
@media(max-width:768px){
    .Header_container{
        width: 100%;
    }
    .Menu_mobile{
        display: flex;
        width: 100%;
        height: 41px;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
    }
    .Header_full{
        display: none;
    }
    .Menu_mobile_back{
        position: absolute;
        left: 30px;
        top: 12px;
    }
    .Menu_mobile_title h1{
        font-size: 21px;
    }
}