.Header_full{
    display: flex;
    width: 100%;
    height: 56px;
    margin-top: 41px;
}
.Header_container{
    margin-left: auto;
    margin-right: auto;
    width: 90.89%;
}
.Header_logo{
    margin-right: 10%;
}
.Header_logo img{
   width: 154px;
}
.Header_nav{
    width: 30.09%;
}
.Header_nav nav ul{
    display: flex;
    width: 100%;
}
.Header_nav nav ul li{
    width: 33%;
    display: flex;
    border-bottom: 4px solid #EAF2FF;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 14px;
}
.Header_profile{
    display: flex;

    align-items: center;
    align-self: flex-end;
}
.Profile_text{
    margin-left: 20px;
    display: flex;
}
.Profile_menu{
    align-items: center;
    display: flex;
}
.Profile_menu img{
    width: 16px;
    height: 9px;
}
.jare{
    margin-left: auto;
}
.Menu_mobile{
    display: none;
}
@media(max-width:980px){
    .Header_logo{
        margin-right: 5%;
    }
    .Header_nav{
        width: 40.09%;
    }
}
@media(max-width:768px){
    .Header_container{
        width: 100%;
    }
    .Menu_mobile{
        display: flex;
        width: 100%;
        height: 41px;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
    }
    .Header_full{
        display: none;
    }
    .Menu_mobile_back{
        position: absolute;
        left: 30px;
        top: 12px;
    }
    .Menu_mobile_title h1{
        font-size: 21px;
    }
}