#Select-menu label {
    border-collapse: collapse;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    padding-left: 15px;
}
#Select-menu label:hover{
    background-color: #ECECEE;
}
#Select-menu {
    width: 100%;
    position: absolute;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    z-index: 10;
    top: 50px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

#Select-menu [type="radio"]:checked+label::before,
#Select-menu [type="radio"]:not(:checked)+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 0px;
    height: 0px;
    background: #F3F3F5;
    border: 0px solid #ECECEE;
    border-radius: 100%;
    background: #fff;
}
#Select-menu input[type=radio]:before {
    display: none;
}
#Select-menu [type="radio"]:checked,
#Select-menu [type="radio"]:not(:checked) {
    outline-style: none;
    position: absolute;
    width: 150px;
    left: 0px;
    top: 0px;
    cursor: pointer;
    height: 50px;
    border: 0px;
}

#Select-menu [type="radio"]:checked+label:after,
#Select-menu [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 0px;
    height: 0px;
    background: #407BFF;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#Select-hide {
    width: 50%;
    position: relative;
    height: 43px;
    max-width: 300px;
}

#Select-hide p {
    padding: 10px 0px;
    padding-left: 16px;
    margin: 0px;
    margin-bottom: 10px;
    border: 1px solid #9DC3FF;
    border-radius: 7px;
}

.Select_content {
    position: relative;
}

.Rotate_img {
    transform: rotate(-180deg);
    
}

.Select_content img {
    position: absolute;
    top: 7.5px;
    right: 1px;
    background: #fff;
    padding: 10px 10px;
}

@media (max-width: 768px) {
    #Select-hide {
        width: 100%;
        max-width: 300px;
    }
}