.Login_form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.Login_logo img{
    width: 57.14%;
    height: auto;
}
.Login_form h3{
    font-size: 2vw;
    width: 124px;
    color: #8B9BAB;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.Login_form h3::after{
    content: "";
    width: 124px;
    height: 4px;
    background-color: #407BFF;
    position: absolute;
    left: 0%;
    top: 36px;
}
.Login_form input::placeholder{
    padding-left: 28px;
    
}
.Login_form .input_login{
    border-radius: 16px;
    border: 1px #EAF2FF solid;
    width: 100%;
    padding: 20px 0px;
    margin-top: 62px;
    margin-bottom: 30px;
}
.Login_form {
    width: 20.83%;
}
.Login_content{
    max-width: 30.68%;
    display: flex;
    flex-direction: column;
}
.Login_form form button{
    width: 60%;
    padding: 19.5px 0px;
    border-radius: 16px;
    cursor: pointer;
    color: #ffffff;
    border: 0px;
    outline: 0px;
    text-transform: uppercase;
    background-color: #407BFF;
}
.Login_text{
    width: 100%;
}
.Login_text h1{
    margin-top: 38px;
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom: 32px;
}
.Login_text ul li{
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: 7px;
}
.Login_full{
    justify-content: space-around;
    display: flex;
    min-height: 100%;
    align-items: center;
}
html,body, .Login_wrapper{
    height: 100%;
}
@media (max-width: 960px) {
    .Login_full{
        display: flex;
        padding-top: 83px;
        flex-direction: column;
        min-height: 400px;
        align-items: center;
    }   
    .Login_text img{
        display: flex;
        justify-content: center;
    }
    .Login_logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .Login_text{
        max-width: 100%;
    }
    .Login_content{
        max-width: 59.17%;
        display: flex;
        flex-direction: column;
    }
    .Login_text h1{
        text-align: center;
    }
    .Login_form {
        margin-top: 60px;
        width: 41.67%;
    }
}
@media (max-width: 678px){
    .Login_text h1{
        margin-top: 38px;
        font-size: 3vw;
        font-weight: 700;
        margin-bottom: 32px;
    }
    .Login_text ul li{
        font-size: 2.5vw;
        font-weight: 400;
        margin-bottom: 7px;
    }
    .Login_form h3{
        font-size: 3vw;
    }
    .Login_form {
        margin-top: 60px;
        width: 59.17%;
    }
    .Login_form form button{
        width: 75%;
    }
}
@media (max-width: 480px){
    .Login_content{
        max-width: 100%;
    }
    .Login_logo img{
        width: 87.5%;
        height: auto;
    }
    .Login_form h3{
        font-size: 5vw;
    }
    .Login_text{
        display: none;
    }
    .Login_form {
        margin-top: 60px;
        width: 87.5%;
    }
}