.Doctor_avatar_img {
    width: 132px;
    margin-right: 40px;
}

.Doctor_avatar_img img {
    width: 100%;
    border-radius: 50%;
}

.Grade > ul li {
    margin-top: 10px;
}
.Grade > ul li ul li{
    margin-top: 0px;
}
.Doctor_avatar_info ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.Doctor_info h2 {
    font-size: 24px;
}

.Doctor_info p {
    font-size: 14px;
}

.Doctor_info {
    display: flex;
    max-width: 335px;
    flex-direction: column;
}

.Staj {
    margin-top: 8px;
}

.Review_full {
    margin-left: 35px;
    margin-right: 35px;
}

.Review_title {
    margin-top: 69px;
}

.Doctor_infos {
    margin-top: 37px;
    display: flex;
    margin-bottom: 36px;
}

.Grade {
    max-width: 500px;
}

.Grade ul li {
    display: flex;
    justify-content: space-between;
}

.Grade ul li b {
    font-size: 24px;
}

.Doctor_avatar_info {
    display: flex;
    justify-content: flex-start;
}

.Doctor_avatar_info ul {
    width: 130px;
}

.Doctor_avatar_info ul li img {
    width: 20px;
}

.Rewiew_add {
    margin-top: 36px;
}

.select_consultation p {
    font-size: 16px;
    margin-bottom: 13px;
}

.select_consultation textarea {
    max-width: 570px;
    width: 100%!important;
    height: 167px;
    padding: 10px;
    border: 1px solid #EAF2FF;
    border-radius: 16px;
}

.select_margin {
    margin-top: 24px;
}

.otziv {
    margin-top: 41px;
    margin-bottom: 59px;
}

.otziv button {
    padding: 22px 41px;
    background: #407BFF;
    border-radius: 16px;
    border: 0px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.Font_size24 {
    font-family: 'Exo', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.Font_size40 {
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0px;
    text-align: left;

}

.Font_size14 {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.Font_size16 {
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
}

@media (max-width:768px) {
    .Font_size24 {
        font-family: 'Exo', sans-serif;
        font-size: 14px !important;
        font-weight: 700 !important;
        line-height: 19px !important;
        letter-spacing: 0px !important;
        text-align: left;

    }

    .Font_size40 {
        font-family: 'Exo', sans-serif;
        font-size: 16px !important;
        font-weight: 700 !important;
        line-height: 53px !important;
        letter-spacing: 0px !important;
        text-align: left;

    }

    .Font_size14 {
        font-family: 'Exo', sans-serif;
        font-size: 10px !important;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
    }

    .Font_size16 {
        font-family: 'Exo', sans-serif;
        font-size: 10px !important;
        font-weight: 400 !important;
        line-height: 13px !important;
        letter-spacing: 0px !important;
        text-align: left;

    }
    .Doctor_avatar_img {
        width: 70px;
        margin-right: 10px;
    }
    .Grade ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .Review_title{
        display: none;
    }
}

@media(max-width:480px){
    .otziv button {
        padding: 22px 41px;
        background: #407BFF;
        border-radius: 16px;
        border: 0px;
        width: 100%;
        font-size: 14px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}