.ChangeLoginFull{
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    left: 0px;
    z-index: 20;
    top:0px;
}
.ChangeLoginButton{
    display: flex;
    justify-content: center;
}
.Profile_replace_tel_link {
    color: #407BFF;
    cursor: pointer;
    margin-left: 15px;
}
.Font_size14 {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}
.ChangeLoginMain form{
    margin-bottom: 30px;
}
.ChangeLogin{
    margin:40px auto 0px auto;
    height: auto;
    padding:10px;
    height: 300px;
    background-color: #fff;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ChangeLoginMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ChangeLoginMain_step2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ChangeLoginMain_step3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ChangeLoginMain_step2 input{
    width: 100%;
    max-width: 400px;
}
.ChangeLoginMain_step3 input{
    width: 100%;
    max-width: 400px;
}
@media(max-width:580px){
    .Font_size14 {
        font-family: 'Exo', sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
    }
}