.Skill {
    margin-top: 60px;
}

.Doctor_list {
    margin-left: 30px;
}

.Skill_title {
    margin-bottom: 26px;
}

.Skill_title h1 {
    font-size: 40px;
}

.Doctor_avatar_info p {
    text-align: center;
}

.Doctor_avatar {
    width: 162px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 14px;
    color: #FFFFFF;
}

.Doctor_avatar_img {
    width: 132px;

}

.Doctor_avatar_img img {
    width: 100%;
    border-radius: 50%;
}

.Doctor_info h2 {
    font-size: 24px;
}

.Doctor_info p {
    font-size: 14px;
}

.Doctor_info {
    display: flex;
    color: #FFFFFF;
    max-width: 335px;
    flex-direction: column;
}

.Staj {
    margin-top: 8px;
}

.Doctor_infos {
    display: flex;
}

.Doctor_buy {
    margin-top: 21px;
}

.buy {
    margin-top: 5px;
    font-size: 24px !important;
}

.Doctor {
    display: flex;
    margin-top: 40px;
    width: 925px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.black {
    color: black !important;
}

.Doctor_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Doctor_avatar_info ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.Select_all {
    display: flex;
}

.Skill_select {
    display: flex;
}

.Skill_select p {
    margin-right: 14px;
}

.Sort_select {
    margin-left: 80px;
    display: flex;
}

.gray {
    color: #8B9BAB;
}

.Sort_select p {

    margin-right: 14px;
}

.Payment_block p {
    margin-bottom: 5px;
}

.Payment_block button {
    margin-top: 21px;
    padding: 20.5px 44px;
    background: #407BFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    border: 0px;
    border-radius: 16px;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.Font_size24 {
    font-family: 'Exo', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.Font_size40 {
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0px;
    text-align: left;

}

.Font_size14 {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.Font_size16 {
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
}

@media(max-width:980px) {
    .Doctor {
        width: 95%;
    }
}

@media(max-width:768px) {
    .Doctor {
        display: flex;
        flex-direction: column;
    }

    .Sort_select {
        display: flex;
        flex-direction: column;
        margin-left: 30px!important;
    }
    .Doctor_avatar{
        padding-left: 0px;
    }
    .Skill_select {
        display: flex;
        flex-direction: column;
        
    }

    .Doctor_avatar {
        margin-right: 10px;
    }

    .Payment_block {
        display: flex;
        flex-direction: column;
    }

    .Payment_block_p {
        margin-top: 10px;
        display: flex;
    }

    .Font_size24 {
        font-family: 'Exo', sans-serif;
        font-size: 14px !important;
        font-weight: 700 !important;
        line-height: 19px !important;
        letter-spacing: 0px !important;
        text-align: left;

    }

    .Font_size40 {
        font-family: 'Exo', sans-serif;
        font-size: 16px !important;
        font-weight: 700 !important;
        line-height: 53px !important;
        letter-spacing: 0px !important;
        text-align: left;

    }

    .Font_size14 {
        font-family: 'Exo', sans-serif;
        font-size: 10px !important;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
    }

    .Font_size16 {
        font-family: 'Exo', sans-serif;
        font-size: 10px !important;
        font-weight: 400 !important;
        line-height: 13px !important;
        letter-spacing: 0px !important;
        text-align: left;

    }
    .Skill_title{
        display: none;
    }
}
.select {
    position: relative;
    width: 100%;
  }
  
  .select__toggle {
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    cursor: pointer;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.4;
    user-select: none;
    font-size: 1rem;
    justify-content: space-between;
    font-style: italic;
  }
  
  .select__toggle::after {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
    margin-left: 1rem;
    background-size: cover;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100"%3E%3Cpath d="M97.625 25.3l-4.813-4.89c-1.668-1.606-3.616-2.41-5.84-2.41-2.27 0-4.194.804-5.777 2.41L50 52.087 18.806 20.412C17.223 18.805 15.298 18 13.03 18c-2.225 0-4.172.804-5.84 2.41l-4.75 4.89C.813 26.95 0 28.927 0 31.23c0 2.346.814 4.301 2.439 5.865l41.784 42.428C45.764 81.174 47.689 82 50 82c2.268 0 4.215-.826 5.84-2.476l41.784-42.428c1.584-1.608 2.376-3.563 2.376-5.865 0-2.26-.792-4.236-2.375-5.932z"/%3E%3C/svg%3E');
  }
  
  .select__toggle:focus {
    outline: none;
  }
  
  .select_show .select__toggle::after {
    transform: rotate(180deg);
  }
  
  .select__dropdown {
    display: none;
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    max-height: 10rem;
    overflow-y: auto;
    border-radius: 0.3125rem;
    z-index: 2;
    background-color: #fff;
  }
  
  .select_show .select__dropdown {
    display: block;
  }
  
  .select_show .select__backdrop {
    display: block;
  }
  
  .select__options {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .select__option {
    padding: 0.375rem 0.75rem;
  }
  
  .select__option_selected {
    background-color: #e1f5fe;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .select__option_selected::after {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    color: #0277bd;
    background-size: cover;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-inline--fa fa-check fa-w-16" data-icon="check" data-prefix="fas" aria-hidden="true"%3E%3Cpath d="M33.964 85.547l-32.5-32.251a4.935 4.935 0 010-7.017l7.071-7.017a5.027 5.027 0 017.071 0L37.5 60.987l46.894-46.534a5.028 5.028 0 017.07 0l7.072 7.017a4.935 4.935 0 010 7.017l-57.5 57.06a5.027 5.027 0 01-7.072 0z" fill="%230277bd"/%3E%3C/svg%3E');
  }
  
  .select__option:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    transition: 0.2s background-color ease-in-out;
  }