@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
body {
  font-family: 'Exo', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.Container{
  max-width: 1260px;
  margin: 0 auto;
}